<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Polly" version="5.3.1" targetFramework="net462" />
  <package id="Relativity.OAuth2.Client" version="1.0.27" targetFramework="net462" />
  <package id="Relativity.ObjectManager" version="10.3.170.1" targetFramework="net462" />
  <package id="Relativity.OutsideIn" version="2019.3.0" targetFramework="net462" />
  <package id="Relativity.Server.DataTransfer.SDK" version="0.9.0" targetFramework="net462" />
  <package id="Relativity.Server.Import.SDK" version="2.9.2" targetFramework="net462" />
  <package id="Relativity.Server.Kepler.Client.SDK" version="2.15.6" targetFramework="net462" />
  <package id="Relativity.Server.Kepler.SDK" version="2.15.6" targetFramework="net462" />
  <package id="Relativity.Server.Logging.Interfaces.SDK" version="3000.4.4" targetFramework="net462" />
  <package id="Relativity.Server.OAuth2.Interfaces.SDK" version="1.5.5" targetFramework="net462" />
  <package id="Relativity.Server.OAuth2.SDK" version="1.5.5" targetFramework="net462" />
  <package id="Relativity.Server.OutsideIn.FI.Win32.SDK" version="2023.4.0" targetFramework="net462" />
  <package id="Relativity.Server.Services.DataContracts.SDK" version="13.6.1" targetFramework="net462" />
  <package id="Relativity.Server.Telemetry.Services.Interfaces.SDK" version="3003.0.2" targetFramework="net462" />
  <package id="Relativity.Server.Transfer.SDK" version="7.7.0" targetFramework="net462" />
  <package id="Relativity.Telemetry.Client" version="9.4.164" targetFramework="net462" />
  <package id="SSH.NET" version="2016.0.0" targetFramework="net462" />
  <package id="ZetaLongPaths" version="1.0.0.16" targetFramework="net462" />
</packages>